body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}


.container {
    background: #FFDBBC;
    width: 1000px;
    height: 800px;
    border: 1px solid #C4C4C4;
    margin: auto;
}

.info{
    position: relative;
    float: left;
    width: 1000px;
    margin: 20px;
}

.logo {
    float: left;
    width: 150px;
}

.title {
    float: left;
    height: 110px;
    padding: 10px 30px;
}

#recentSearches {
    list-style: none;
}

.query {
    padding-top: 75px; 
    float: left;
    text-align: center;
    width: 45%;
}

#mapid {
    float: left;
    margin: 0px 20px;
    height: 450px;
    width: 480px;
}

