body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: #DDBB66;
    width: 900px;
    height: 650px;
}

.logo {
    float: left;
    width: 150px;
}

.title {
    float: left;
    height: 110px;
    padding: 20px 30px;
}

#mapid {
    height: 300px;
    width: 380px;
}

